{
  "extends": "airbnb-base",
  "rules": {
    "brace-style" : ["error", "stroustrup", {"allowSingleLine" : true}],
    "arrow-parens" : ["error", "as-needed"],
    "comma-dangle": "off",
    "max-len": "off",
    "prefer-rest-params": "off",
    "no-use-before-define": "off",
    "strict": "off",
    "no-param-reassign": "off",
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-plusplus": "off",
    "prefer-spread": "off"
  }
}
